@model List<SocialMediaAccount>
@{
    int count = 0;
}
<div class="container">
    <div class="d-flex justify-content-between align-content-center">
        <div>Create a new Team member</div>
        <div>
            <a class="btn btn-success" asp-controller="socialmediaaccount" asp-action="create">+Create</a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Url</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var socialMediaAccount in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>
                            @Html.Raw(socialMediaAccount.Icon)
                        </td>
                        <td>@socialMediaAccount.Url</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="socialmediaaccount" asp-action="update" asp-route-id="@socialMediaAccount.Id">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="socialmediaaccount" asp-action="delete" asp-route-id="@socialMediaAccount.Id">Update</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>