@model List<TeamMember>
@{
    int count = 0;
}
<div class="container">
    <div class="d-flex justify-content-between align-content-center">
        <div>Create a new Team member</div>
        <div>
            <a class="btn btn-success" asp-controller="teammember" asp-action="create">+Create</a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Positon</th>
                    <th scope="col">Order</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var tm in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@tm.FullName</td>
                        <td>@tm.Position</td>
                        <td>@tm.Order</td>
                        <td>
                            <img style="max-width:150px;max-height:150px;" src="~/uploads/teammembers/@tm.Image"/>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="teammembers" asp-action="update" asp-route-id="@tm.Id">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="teammembers" asp-action="delete" asp-route-id="@tm.Id">Update</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>